@import "tailwindcss";

@keyframes blobFloat {
  0% { transform: translate(0, 0) scale(1) rotate(0deg); }
  50% { transform: translate(40px, -50px) scale(1.07) rotate(3deg); }
  100% { transform: translate(0, 0) scale(1) rotate(0deg); }
}

.big-blob {
  position: absolute;
  width: 1100px;
  height: 1200px;
  top: -250px;
  left: -350px;
  background: #ff008c;

  clip-path: path(
    "M512 36Q620 90 705 160T820 300Q875 380 860 470T790 615Q720 700 610 760T430 830Q300 850 210 790T90 620Q40 520 70 410T160 260Q240 150 350 90T512 36Z"
  );

  animation: blobFloat 9s ease-in-out infinite;
  filter: drop-shadow(0px 0px 90px rgba(255,0,140,0.45));
  z-index: 0;
}

.input-field {
  @apply w-full border border-slate-300 px-3 py-2 rounded-xl outline-none 
         focus:ring-2 focus:ring-[#ff84ca];
}

